<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/fontawesome/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary p-0">
  <div class="navbar-nav">
    <a class="nav-item nav-link {%if page == 1%} active {%endif%}" href="{% url 'list-category' %}">Quản lý hãng sản xuất</a>
    <a class="nav-item nav-link {%if page == 2%} active {%endif%}" href="{% url 'list-product' %}">Quản lý dòng xe</a>
    <a class="nav-item nav-link {%if page == 3%} active {%endif%}" href="{% url 'list-order' %}">Quản lý đơn hàng</a>
  </div>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle p-0" data-toggle="dropdown" href="#">
        <img class="rounded-circle" style="width:60px"
          src="https://raw.githubusercontent.com/pytutorial/html_samples/master/css_bootstrap/user.svg">
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">
          Thông tin tài khoản
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/accounts/logout">
          Đăng xuất
        </a>
      </div>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
{% endblock %}