{% extends "../base_staff.html" %}

{% block menu %}
{% with page=3 %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container mt-3">
    <table class="table">
        <tr>
            <td colspan="2">
                <h5>Thông tin sản phẩm</h5>
            </td>
        </tr>
        <tr>
            <td>Sản phẩm</td>
            <td>{{order.product.name}}</td>
        </tr>
        <tr>
            <td>Số lượng</td>
            <td>{{order.qty}}</td>
        </tr>
        <tr>
            <td>Đơn giá</td>
            <td>{{order.product.price|floatformat:0}} triệu đồng</td>
        </tr>
        <tr>
            <td colspan="2">
                <h5>Thông tin khách hàng</h5>
            </td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td>{{order.customer_name}}</td>
        </tr>
        <tr>
            <td>Số điện thoại</td>
            <td>{{order.customer_phone}}</td>
        </tr>
        <tr>
            <td>Địa chỉ</td>
            <td>{{order.customer_address}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <h5>Thông tin đơn hàng</h5>
            </td>
        </tr>
        <tr>
            <td>Ngày mua</td>
            <td>{{order.order_date|date:"d/m/Y H:i:s"}}</td>
        </tr>
        <tr>
            <td>Trạng thái</td>
            <td>
                {% if order.status == 0 %} Mới {% endif %}
                {% if order.status == 1 %} Đã giao hàng {% endif %}
                {% if order.status == 2 %} Đã nhận hàng {% endif %}
                {% if order.status == 3 %} Đã hủy {% endif %}
            </td>
        </tr>
    </table>
    <div>
        {% if order.status == 0 %}
        <a class="btn btn-primary mr-1" href="javascript:confirmOrderDeliver({{order.id}})">
            Xác nhận đã giao hàng
        </a>
        <a class="btn btn-danger mr-1" href="javascript:cancelOrder({{order.id}})">
            Hủy đơn hàng
        </a>
        {% endif %}
        {% if order.status == 1 %}
        <a class="btn btn-primary mr-1" href="javascript:confirmOrderReceive({{ order.id }})">Xác nhận đã nhận hàng</a>
        <a class="btn btn-danger mr-1" href="javascript:cancelOrder({{ order.id }})">Hủy đơn hàng</a>
        {% endif %}
        {% if order.status == 3 %}
        <a class="btn btn-danger" href="javascript:deleteOrder({{order.id}})">Xóa đơn hàng</a>
        {% endif %}
        <a class="btn btn-primary" href="/staff/list-order">Quay lại</a>
    </div>
</div>
<script>
    function confirmOrderDeliver(id) {
        if (confirm('Xác nhận đơn hàng đã được giao cho đơn vị vận chuyển !')) {
            location.href = ('/staff/confirm-order-deliver/' + id);
        }
    }
    function cancelOrder(id) {
        if (confirm('Xác nhận hủy đơn hàng !')) {
            location.href = ('/staff/cancel-order/' + id);
        }
    }
    function deleteOrder(id) {
        if (confirm('Xóa đơn hàng này !')) {
            location.href = ('/staff/delete-order/' + id);
        }
    }
    function confirmOrderReceive(id){
        if(confirm('Xác nhận đã nhận được hàng !')){
            location.href=('/staff/confirm-order-receive/'+id);
        }
    }
</script>
{% endblock %}