{% extends "../base_staff.html" %}

{% block menu %}
{% with page=3 %}
{{block.super}}
{% endwith %}
{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Tên KH</th>
        <th>SĐT</th>
        <th>Ngày mua hàng</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      {% for o in orderList %}
      <tr>
        <td>{{forloop.counter|add:start}}</td>
        <td>{{o.product.name}}</td>
        <td>{{o.qty}}</td>
        <td>{{o.customer_name}}</td>
        <td>{{o.customer_phone}}</td>
        <td>{{o.order_date|date:"d/m/yy h:i:s"}}</td>
        <td>
            {% if o.status == 1 %} DELIVERED {% endif %}
            {% if o.status == 2 %} RECEIVED {% endif %}
            {% if o.status == 0 %} NEW {% endif %}
            {% if o.status == 3 %} CANCELED {% endif %}
        </td>
        <td>
          <a title="Xem" href="{% url 'view-order' o.id %}"><i class="fa fa-eye">Xem</i></a>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href='/staff/list-order?page=1'>&laquo;</a></li>
    {% if page > 1 %}
    <li class="page-item"><a class="page-link" href='/staff/list-order?page={{page|add:-1}}'>&lsaquo;</a></li>
    {% else %}
    <li class="page-item"><a class="page-link">&lsaquo;</a></li>
    {% endif %}

    {% if page < numpage %}
    <li class="page-item"><a class="page-link" href='/staff/list-order?page={{page|add:1}}'>&rsaquo;</a></li>
    {% else %}
    <li class="page-item"><a class="page-link">&rsaquo;</a></li>
    {% endif %}

    <li class="page-item"><a class="page-link" href='/staff/list-order?page={{numpage}}'>&raquo;</a></li>
  </ul>

</div>
{% endblock %}