{% extends 'staff/base/base_staff.html' %}
{% block menu %} 
  {% with page=1 %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block content %}
<div class="container pt-3">
    <table class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã</th>
          <th>Tên</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for c in categoryList %}
          <tr>
            <td>{{forloop.counter|add:start}}</td>
            <td>{{c.code}}</td>
            <td>{{c.name}}</td>
            <td>
              <a href='{% url "update-category" c.id %}' 
                class="btn btn-sm btn-primary">Chỉnh sửa</a>
                
              <a href='javascript:deleteCategory({{c.id}})' 
                 class="btn btn-sm btn-danger">Xóa</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href='/staff/list-category?page=1'>&laquo;</a></li>
      
      <li class="page-item"><a class="page-link" 
        {% if page > 1 %} href='/staff/list-category?page={{page|add:-1}}' {% endif %}>&lsaquo;</a></li>
  
      <li class="page-item"><a class="page-link" 
        {% if page < numpage %} href='/staff/list-category?page={{page|add:1}}' {% endif %}>&rsaquo;</a></li>
  
      <li class="page-item"><a class="page-link" href='/staff/list-category?page={{numpage}}'>&raquo;</a></li>
    </ul> 
    <a href='/staff/create-category'
       class="btn btn-primary">Thêm hãng sản xuất</a>
</div>
  <script>
    function deleteCategory(id) {
      if(confirm('Bạn có chắc chắn muốn xóa?')){
        location.href = '/staff/delete-category/' + id;
      }
    }
  </script>
{% endblock %}
