{% extends "../base.html" %}

{% block menu %}
{% with page=3 %}
{{block.super}}
{% endwith %}
{% endblock %}
{% block content %}
<style>
  .page {
    text-align: center;
  }

  .page a {
    border: 1px solid black;
    color: white;
    background: gray;
    text-decoration: none;
    padding: 5px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-9">
      <ul class="list-unstyled row">
        {% for p in product %}
        <li class="list-item col-sm-4 mt-3">
          <div class='item-container'>
            <a href="{% url 'detail-product' p.id %}" class='product-item'>
              <img src="/{{p.image}}" class='product-image'>
              <div class="item-info">
                <div>
                  <span class='product-name'><b>{{p.name}}</b></span>
                </div>
                <div>
                  <span>Dòng :</span>
                  <span>{{p.type_vehicle}}</span>
                </div>
                <div>
                  <span class='price-title'>Giá bán :</span>
                  <span class='price' style="color: red;">{{p.price|floatformat:"0"}} triệu đồng</span>
                </div>
              </div>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
      <br>
      <div class="page">
        <a href="{% url 'suzuki' %}?page=1">1</a>
        {% if page > 1 %}
        <a href="{% url 'suzuki' %}?page={{page|add:-1}}">Prev</a>
        {% else %}
        <span>Prev</span>
        {% endif %}
        {% if page < num_page %}
        <a href="{% url 'suzuki' %}?page={{page|add:1}}">Next</a>
        {% else %}
        <span>Next</span>
        {% endif %}
        <a href="{% url 'suzuki' %}?page={{num_page}}">{{num_page}}</a>
      </div>
    </div>
    <div class="col-3 pt-3">
      <table class="table border border-secondary">
        <tr>
          <td style=" background: gray;text-align: center;"><h5>DANH MỤC SẢN PHẨM</h5></td>
        </tr>
        <tr>
            <td style="background: gainsboro;">
              <li><a href="{% url 'honda' %}">Honda</a></li>
              <li><a href="{% url 'yamaha' %}">Yamaha</a></li>
              <li><a href="{% url 'ducati' %}">Ducati</a></li>
              <li><a href="{% url 'kawasaki' %}">Kawasaki</a></li>
              <li><a href="{% url 'bmw' %}">BMW</a></li>
              <li><a href="{% url 'suzuki' %}">Suzuki</a></li>
              <li><a href="{% url 'ktm' %}">KTM</a></li>
            </td>
          </tr>
      </table>
    </div>
  </div>

</div>
{% endblock %}